*{
    box-sizing: border-box;
}
body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    width: 79%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
}


.slides{
    position: absolute;
    width:  60%;
    height: 100vh;
    left: -10px;
    top: -8px;
    background: url(img\ 2.jpg);
    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10%;
    border-radius: 0% 50% 50% 0%;
    }
    
    .main{
        background-color: blue;
    }
    .descript{
position: absolute;
width: 567px;
padding-left: 0%;
left: 70.46%;
top: 1.43%;
bottom: 24.22%;
}
.header{
    font-size: 100px;
}
.p1{
    font-size: 24px;
    position: absolute;
    bottom: 18%;
  }
  .offer{
    position: absolute;
    left: 30.83%;
    bottom: -25%;
    transform: rotate(-.72deg);
    width: 70%;
    height: 70%;
    }
 .facebook{
    position: absolute;
    width: 29px;
    height: 29px;
    right: 36px;
    bottom: -5px;
}
.insta{
  position: absolute;
  width: 26px;
  height: 26px;
  right: 8.49px;
  bottom: -5px;
  }
  .twitter{
    position: absolute;
    width: 26px;
    height: 26px;
    right: -24px;
    bottom: -5px;
    }

    button{
        position: absolute;
  width: 400px;
  height: 60px;
  text-align: center;
  bottom: -5px;
    }